.icon_cjsj {
  display: inline-block;
  background-repeat: no-repeat;
}
.icon_cjsj_c0 {
  width: 18px;
  height: 13px;
  background-position: 0px 0px;
}
.icon_cjsj_c1 {
  width: 18px;
  height: 13px;
  background-position: -23px 0px;
}
.icon_cjsj_c2 {
  width: 18px;
  height: 13px;
  background-position: 0px -18px;
}
.icon_cjsj_c3 {
  width: 18px;
  height: 13px;
  background-position: -23px -18px;
}
.icon_cjsj_c4 {
  width: 18px;
  height: 13px;
  background-position: -46px 0px;
}
.icon_cjsj_c5 {
  width: 18px;
  height: 13px;
  background-position: -46px -18px;
}
.icon_cjsj_c6 {
  width: 18px;
  height: 13px;
  background-position: 0px -36px;
}
.icon_cjsj_c7 {
  width: 18px;
  height: 13px;
  background-position: -23px -36px;
}
.icon_cjsj_c8 {
  width: 18px;
  height: 13px;
  background-position: -46px -36px;
}
.icon_cjsj_c9 {
  width: 18px;
  height: 13px;
  background-position: -69px 0px;
}
.icon_cjsj_close {
  width: 12px;
  height: 12px;
  background-position: -69px -37px;
}
.icon_cjsj_oil1 {
  width: 14px;
  height: 14px;
  background-position: -69px -18px;
}
.icon_cjsj_oil2 {
  width: 14px;
  height: 14px;
  background-position: 0px -54px;
}
.icon_cjsj_oil3 {
  width: 14px;
  height: 14px;
  background-position: -19px -54px;
}
.icon_cjsj_oil4 {
  width: 14px;
  height: 14px;
  background-position: -38px -54px;
}
.icon_cjsj_open {
  width: 12px;
  height: 12px;
  background-position: -74px -54px;
}
.icon_cjsj_selected {
  width: 6px;
  height: 10px;
  background-position: 0px -73px;
}
.icon_cjsj_title_el {
  width: 12px;
  height: 14px;
  background-position: -57px -54px;
}
.cjcjbar {
  border: solid 1px #2b4f75;
  margin: 8px 0;
}
.cjcjbar .cjcjbarbox {
  height: 35px;
}
.cjcjbar .cjcjbarbox .cjcjbarboxel {
  margin-left: 20px;
  margin-top: 10px;
  float: left;
}
.cjcjbar .cjcjbarbox .tit {
  float: left;
  color: #fff;
  line-height: 35px;
  text-indent: 10px;
  font-size: 14px;
  font-weight: bold;
}
.leftmenubox {
  width: 250px;
  float: left;
  border: solid 1px #98badd;
  background-color: #fff;
}
.leftmenubox .leftmenu {
  margin-top: 5px;
}
.leftmenubox .leftmenu .leftmenutitle {
  width: 240px;
  margin: 0 auto;
}
.leftmenubox .leftmenu .leftmenutitle .bg1left {
  background-position: 0px 0px;
  width: 2px;
  height: 26px;
  float: left;
}
.leftmenubox .leftmenu .leftmenutitle .bg1right {
  background-position: -3px 0px;
  width: 2px;
  height: 26px;
  float: left;
}
.leftmenubox .leftmenu .leftmenutitle .titleleft {
  background-position: 0px -27px;
  background-repeat: repeat-x;
  height: 26px;
  margin: 0;
  width: 236px;
  float: left;
  cursor: pointer;
}
.leftmenubox .leftmenu .leftmenutitle .titleleft .leftboxtitle {
  float: left;
  height: 26px;
  line-height: 26px;
  font-weight: bold;
  color: White;
}
.leftmenubox .leftmenu .leftmenutitle .titleleft .titleicon {
  float: left;
  margin: 5px 8px;
}
.leftmenubox .leftmenu .leftmenutitle .titleleft .titleiconright {
  float: right;
  margin: 7px 5px 0px 0px;
}
.leftmenubox .leftmenu .leftmenutitle .titleleft .icon_cjsj_open {
  display: inline-block;
}
.leftmenubox .leftmenu .leftmenutitle .titleleft .icon_cjsj_close {
  display: none;
}
.leftmenubox .leftmenu .leftmenutitle.at .titleleft .icon_cjsj_close {
  display: inline-block;
}
.leftmenubox .leftmenu .leftmenutitle.at .titleleft .icon_cjsj_open {
  display: none;
}
.leftmenubox .leftmenu ul {
  list-style-type: none;
  padding: 0;
  width: 225px;
  margin: 0 auto;
  display: none;
}
.leftmenubox .leftmenu ul li {
  height: 24px;
  line-height: 24px;
  text-indent: 10px;
  margin: 0;
  padding: 0;
  text-align: left;
}
.leftmenubox .leftmenu ul li .lititle {
  float: left;
}
.leftmenubox .leftmenu ul li .liicon {
  float: right;
  margin-right: 10px;
  display: none;
}
.leftmenubox .leftmenu ul li.at {
  font-weight: bold;
}
.leftmenubox .leftmenu ul li.at .liicon {
  display: block;
}
.leftmenubox .leftmenu ul.at {
  display: block;
}
.leftmenubox .leftmenu ul.hyzs > li {
  background: none;
  height: auto;
  font-weight: normal;
}
.leftmenubox .leftmenu ul.hyzs > li > a:before {
  content: "";
  display: inline;
  font-size: 0;
  vertical-align: middle;
  margin-right: 5px;
  border-right: 5px solid transparent;
  border-left: 5px solid #474747;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
.leftmenubox .leftmenu ul.hyzs > li ul li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 21px;
  background: none;
}
.leftmenubox .leftmenu ul.hyzs > li ul li.at {
  font-weight: bold;
}
.leftmenubox .leftmenu ul.hyzs > li.at .liicon {
  display: block;
}
.leftmenubox .leftmenu ul.hyzs > li.at ul {
  display: block;
}
.leftmenubox .leftmenu ul.hyzs.at {
  display: block;
}
.leftmenubox .leftmenu .clearboth {
  height: 3px;
  clear: both;
}
.cjsjcontent {
  margin-left: 10px;
  width: 736px;
  float: right;
}
.cjsjcontent .titlebar {
  border: 1px solid #3f699b;
}
.cjsjcontent .titlebar .title {
  border: 1px solid #8cb9d8;
  height: 32px;
  line-height: 32px;
}
.cjsjcontent .titlebar .title .contentitleicon {
  margin-left: 15px;
  margin-top: 8px;
  float: left;
}
.cjsjcontent .titlebar .title .tit {
  float: left;
  color: #fff;
  line-height: 32px;
  text-indent: 10px;
  font-size: 14px;
  font-weight: bold;
}
.cjsjcontent .titlebar .title .more {
  line-height: 30px;
  font-size: 14px;
  float: right;
  margin-right: 6px;
}
.cjsjcontent .titlebar .title .more a {
  color: #fff;
}
.cjsjcontent .newswrapper {
  margin-top: 10px;
  height: 185px;
}
.cjsjcontent .newswrapper .searchnews_box {
  width: 360px;
  height: auto;
}
.cjsjcontent .newswrapper .searchnews_box .titlebox .more a {
  color: #333;
  font-size: 14px;
}
.cjsjcontent .newswrapper .searchnews_box .contentbox {
  border-bottom: none;
  padding-bottom: 8px;
}
.cjsjcontent .newswrapper .searchnews_box .contentbox .infolist {
  margin: 0 10px;
  border-bottom: 1px dashed #898989;
}
.cjsjcontent .newswrapper .newsleft {
  float: left;
}
.cjsjcontent .newswrapper .newsright {
  float: right;
}
.cjsjcontent .textcontent {
  border-left: #bbd4e8 1px solid;
  border-right: #bbd4e8 1px solid;
  border-bottom: #bbd4e8 1px solid;
}
.cjsjcontent .aboutbox {
  padding-top: 10px;
}
.cjsjcontent .aboutbox .abouttitle {
  display: inline-block;
  height: 26px;
  background: #5495d5;
  text-align: center;
  font-weight: bold;
  color: White;
  line-height: 26px;
  margin-left: 15px;
  border-radius: 5px 5px 0 0;
  padding: 0px 20px;
  min-width: 80px;
}
.cjsjcontent .aboutbox .abouttitleline {
  height: 2px;
  background: #5495d5;
  margin: 0px 4px;
}
.cjsjcontent .aboutbox .abouttext {
  margin: 10px 20px 20px 20px;
  line-height: 20px;
}
.chartcontent {
  border-left: #bbd4e8 1px solid;
  border-right: #bbd4e8 1px solid;
}
.content .color_gt,
.content .color_lt {
  display: none;
}
.content .red {
  color: #f00 !important;
}
.content .red .color_gt {
  display: inline-block;
}
.content .red .color_lt {
  display: none;
}
.content .green {
  color: #090 !important;
}
.content .green .color_gt {
  display: none;
}
.content .green .color_lt {
  display: inline-block;
}
.content .table-model {
  table-layout: auto;
  margin-top: 0;
}
.content .table-model thead th {
  background-color: #ebf6ff;
  line-height: 15px;
  height: 25px;
}
.content .table-model .popContent {
  position: absolute;
  padding: 5px;
  top: 20px;
  right: 0px;
  width: 270px;
  line-height: 18px;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 999;
}
.content .table-model a.popCla {
  text-decoration: none;
}
.content .tablepager {
  border-left: #bbd4e8 1px solid;
  border-right: #bbd4e8 1px solid;
  margin: 0;
  padding: 15px 0 10px;
  border-bottom: #bbd4e8 1px solid;
}
.content .contentleft {
  width: 360px;
  height: auto;
  float: left;
}
.content .contentright {
  width: 360px;
  height: auto;
  float: right;
}
.content .contentlistleft {
  width: 240px;
  height: 300px;
  float: left;
}
.content .contentlistcenter {
  width: 240px;
  height: 300px;
  margin-left: 8px;
  float: left;
}
.content .contentlistright {
  width: 240px;
  height: 300px;
  float: right;
}
.content .tptilte {
  margin: 10px;
  height: 28px;
  z-index: 10000;
  border: 1px solid #7f9db9;
  color: #3d3d3d;
  line-height: 28px;
}
.content .tptilte select {
  width: 200px;
  line-height: 28px;
  height: 28px;
  font-size: 16px;
  text-indent: 10px;
  font-family: simsun;
  border: none;
}
.content .tptilte select option {
  font-size: 16px;
}
.content .tptilte select:hover {
  border: 1px solid #7f9db9;
}
.content .tptilte span {
  text-indent: 10px;
  font-size: 16px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.content .bkimgbox {
  width: 100%;
  height: 200px;
  border: 1px solid #bbd4e8;
}
.content .showbig {
  background-position: 0px -27px;
  background-repeat: repeat-x;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
  margin: 10px;
}
.content .showbig a {
  color: #fff;
}
.content .showbig a i {
  vertical-align: middle;
  margin-right: 5px;
}
.content .showbig a:hover {
  color: #ff0000;
}
.content .line-item {
  height: 30px;
  line-height: 30px;
  border-bottom: 2px solid #2f5795;
  margin-top: 10px;
}
.content .line-item .line-tit {
  float: left;
  width: 80px;
  text-align: right;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  font-weight: bold;
}
.content .line-item ul {
  float: left;
  width: 780px;
}
.content .line-item ul li {
  float: left;
  margin: 4px;
  padding: 0 4px;
  height: 22px;
  line-height: 22px;
}
.content .line-item ul li a {
  text-decoration: none;
}
.content .line-item ul li.at {
  background-color: #00298f;
}
.content .line-item ul li.at a {
  color: #fff;
  text-decoration: none;
}
.content .line-item .line-jglist-more {
  position: absolute;
  right: 0;
  top: 14px;
  width: 528px;
  display: none;
}
.content .line-item .line-jglist-more .mask-jglist {
  height: 6px;
  line-height: 6px;
  overflow: hidden;
  width: 528px;
}
.content .line-item .line-jglist-more .line-jglist-title {
  padding-right: 10px;
  background-color: #fff;
  text-align: right;
  border: 1px #d3d3d3 solid;
  background-color: #f6f6f6;
}
.content .line-item .line-jglist-more ul {
  line-height: 24px;
  border: 1px #d3d3d3 solid;
  background-color: #f6f6f6;
  padding: 5px;
  width: 516px;
  border-top: none;
}
.content .line-item .line-jglist-more ul li {
  float: left;
  padding: 0 4px;
  height: 24px;
  line-height: 24px;
  display: inline;
  margin: 0;
  white-space: nowrap;
}
.content .line-item .line-jglist-more ul a {
  text-decoration: none;
}
.content .newhouseselectbox {
  text-align: center;
  border-left: #bbd4e8 1px solid;
  border-right: #bbd4e8 1px solid;
}
.gpkhtjtop {
  margin-top: 10px;
}
.gpkhtjtop .left {
  width: 650px;
  height: 250px;
  border: 1px solid #ccc;
  float: left;
}
.gpkhtjtop .right {
  width: 200px;
  height: 250px;
  border: 1px solid #ccc;
  float: right;
}
.gpkhtjtop .right .pie_title {
  height: 20px;
  line-height: 20px;
  padding-left: 5px;
}
.gpkhtjtop .right .pie_bom .pie_bom_l {
  padding-left: 3px;
  width: 97px;
  float: left;
  height: 44px;
  border-top: 1px solid #ccc;
  line-height: 44px;
}
.gpkhtjtop .right .pie_bom .pie_bom_r {
  padding-left: 3px;
  width: 96px;
  float: right;
  height: 37px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  line-height: 15px;
  padding-top: 7px;
}
.gpkhtjtop .chart_legend {
  padding: 0 20px;
}
.gpkhtjtop .chart_legend .clegend {
  display: inline-block;
  width: 190px;
  margin-left: 10px;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
}
.gpkhtjtop .chart_legend .clegend .color_rect {
  width: 20px;
  height: 5px;
  background-color: #004986;
  /*深蓝色*/
  display: inline-block;
  overflow: hidden;
  *margin-right: 5px;
  vertical-align: middle;
}
.gpkhtjtop .chart_legend .clegend .color_xztzz {
  background-color: #ac4adb;
}
.gpkhtjtop .chart_legend .clegend .color_qmtzz {
  background-color: #ff8a00;
}
.gpkhtjtop .chart_legend .clegend .color_spj {
  background-color: #ff0101;
}
.gpkhtjtop .chart_legend .clegend label {
  cursor: pointer;
}
.gpkhtjtop .chart_legend .clegend input {
  vertical-align: middle;
  margin: 0;
}
.gpkhtjtop .chart_legend input {
  height: 13px \9;
  width: 13px \9;
  padding: 0 \9;
}
.globalratebox .cjsj_table_shibor {
  width: 400px;
  float: left;
}
.globalratebox .cjsj_table_ck {
  width: 200px;
  float: left;
  margin-left: 32px;
}
.globalratebox .cjsj_table_dk {
  width: 200px;
  float: right;
}
.globalratebox .cjsj_table_lpr {
  width: 400px;
  float: left;
}
.globalratebox .globalratetit {
  width: 432px;
  float: right;
  color: #909090;
  line-height: 20px;
  padding-top: 30px;
}
.globalratetredbox .selectbox {
  height: 60px;
  border-bottom: 1px solid #2f5795;
}
.globalratetredbox .selectbox .tip {
  line-height: 55px;
  float: left;
  margin-right: 15px;
}
.globalratetredbox .selectbox .country_icons ul li {
  cursor: pointer;
  float: left;
  padding: 5px 8px;
  text-align: center;
}
.globalratetredbox .selectbox .country_icons ul li i {
  display: inline-block;
  width: 30px;
  height: 21px;
  margin: 0 auto;
  margin-bottom: 5px;
}
.globalratetredbox .selectbox .country_icons ul li .c_eu {
  background-position: 0 -21px;
}
.globalratetredbox .selectbox .country_icons ul li .c_japan {
  background-position: 0 -42px;
}
.globalratetredbox .selectbox .country_icons ul li .c_uk {
  background-position: 0 -63px;
}
.globalratetredbox .selectbox .country_icons ul li .c_canada {
  background-position: 0 -84px;
}
.globalratetredbox .selectbox .country_icons ul li .c_australia {
  background-position: 0 -105px;
}
.globalratetredbox .selectbox .country_icons ul li .c_new_zealand {
  background-position: 0 -126px;
}
.globalratetredbox .selectbox .country_icons ul li .c_switzerland {
  background-position: 0 -147px;
}
.globalratetredbox .selectbox .country_icons ul li .c_korea {
  background-position: 0 -168px;
}
.globalratetredbox .selectbox .country_icons ul li .c_brazil {
  background-position: 0 -189px;
}
.globalratetredbox .selectbox .country_icons ul li .c_russia {
  background-position: 0 -210px;
}
.globalratetredbox .selectbox .country_icons ul li .c_south_africa {
  background-position: 0 -231px;
}
.globalratetredbox .selectbox .country_icons ul li .c_india {
  background-position: 0 -252px;
}
.globalratetredbox .selectbox .country_icons ul li .c_china {
  background-position: 0 -273px;
}
.globalratetredbox .selectbox .country_icons ul li.at {
  background: #cae5fb;
}
.oil .content .oilPriceTop .oilimg {
  height: 253px;
  width: 360px;
}
.oil .content .oilPriceTop .oilimg img {
  width: 100%;
}
.oil .content .oilPriceTop ul {
  display: block;
  height: 20px;
  margin: 10px;
}
.oil .content .oilPriceTop ul li {
  float: left;
  padding: 0 4px 0 2px;
  line-height: 16px;
}
.oil .content .oilPriceTop ul li span {
  float: left;
  width: 14px;
  height: 14px;
  margin-right: 2px;
}
.oil .content .oilPriceBottom {
  display: none;
  height: 100px;
  border-top: 1px solid #ccc;
  line-height: 25px;
  color: #000;
  text-align: left;
}
.oil .content .oilPriceBottom .info {
  padding: 23px;
}
.oil .content .oilPriceBottom .txt {
  float: left;
  font-weight: bold;
  width: 68px;
  border-right: 1px solid #ccc;
  height: 60px;
  font-size: 15px;
  padding: 20px 10px;
}
.oil .content .oilPriceBottom .dateTime {
  width: 254px;
  float: right;
  text-align: center;
}
.oil .content .oilPriceBottom .dateTime span {
  height: 60px;
  line-height: 60px;
  font-weight: bold;
  font-size: 22px;
  font-family: Arial;
}
.oil .content .cjsj_table_l {
  float: left;
  width: 368px;
}
.oil .content .cjsj_table_r {
  float: right;
  width: 368px;
}
.oil .content .cjsj_table_r .table-model {
  border-left: none;
}
.oil .content .explain {
  height: 30px;
  line-height: 30px;
  text-indent: 20px;
  border-left: #bbd4e8 1px solid;
  border-right: #bbd4e8 1px solid;
}
.oil .content .pagecount {
  float: right;
  padding: 15px 10px 10px 0;
  height: 22px;
}
.oil .content .pagecount a {
  margin: 0 2px;
  padding: 4px 5px 2px;
  position: relative;
  display: inline;
  text-decoration: none;
}
.oil .content .pagecount a.at {
  font-weight: bold;
  color: #fff;
  border: 1px solid #38628b;
  background: #38628b;
}
.oil .content .spager {
  width: 500px;
  border-right: none;
  float: left;
}
.oil .content .recentPriceLeft {
  float: left;
}
.oil .content .recentPriceRight {
  float: right;
  text-align: center;
  width: 200px;
}
.oil .content .recentPriceRight li {
  height: 87px;
  border-bottom: 1px solid #bbd4e8;
  border-left: 2px solid #bbd4e8;
  line-height: 84px;
  color: #999;
  cursor: pointer;
}
.oil .content .recentPriceRight li a {
  font-size: 16px;
  font-weight: bold;
  padding-right: 3px;
}
.oil .content .recentPriceRight li .price {
  padding: 0 8px;
  font-weight: bold;
  border-left: 1px solid #bbd4e8;
}
.oil .content .recentPriceRight li.at {
  border-left: none;
}
.oil .content .recentPriceRight li.lastLi {
  border-bottom: none;
}
body .modal .table-model {
  table-layout: auto;
  margin-top: 0;
}
body .modal .table-model thead th {
  background-color: #ebf6ff;
  line-height: 15px;
  height: 25px;
}
body .modal .modaltitle {
  border-bottom: none;
  padding-bottom: 0;
}
